<section class="brand-philosophy">
  <div class="container brand-philosophy__container">
    <div class="swiper brand-philosophy__slider">
      <div class="brand-philosophy__slider-btns">
        <svg
          width="27"
          height="17"
          viewBox="0 0 27 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide brand-philosophy__card">
          <img src="./assets/image/man-at-laptop-img.jpg" alt="Man at laptop" />
        </div>
        <div class="swiper-slide brand-philosophy__card">
          <img
            class="brand-philosophy__card-img"
            src="./assets/image/meeting-img.jpg"
            alt="Team meeting"
          />
          <h3 class="brand-philosophy__card-title heading-h5">
            What we believe in
          </h3>
          <p class="brand-philosophy__card-descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <button class="brand-philosophy__card-btn button-form">
            See Details ->
          </button>
        </div>
        <div class="swiper-slide brand-philosophy__card">
          <img src="./assets/image/girls-at-laptop-img.jpg" alt="Girls at laptop" />
        </div>
        <div class="swiper-slide brand-philosophy__card">
          <img
            class="brand-philosophy__card-img"
            src="./assets/image/meeting-img.jpg"
            alt="Team meeting"
          />
          <h3 class="brand-philosophy__card-title heading-h5">
            What we believe in
          </h3>
          <p class="brand-philosophy__card-descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <button class="brand-philosophy__card-btn button-form">
            See Details ->
          </button>
        </div>
        <div class="swiper-slide brand-philosophy__card">
          <img src="./assets/image/man-at-laptop-img.jpg" alt="Man at laptop" />
        </div>
        <div class="swiper-slide brand-philosophy__card">
          <img
            class="brand-philosophy__card-img"
            src="./assets/image/meeting-img.jpg"
            alt="Team meeting"
          />
          <h3 class="brand-philosophy__card-title heading-h5">
            What we believe in
          </h3>
          <p class="brand-philosophy__card-descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <button class="brand-philosophy__card-btn button-form">
            See Details ->
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
