<section class="hero">
  <div class="container hero__container">
    <div class="hero__text">
      <h1 class="hero__title heading-h1">
        Everything you need to get the attention of your audience
      </h1>
      <p class="hero__subtitle text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain
        successful digital marketing strategies across all channels. Also work
        with you to build your website and create online businesses that grow.
      </p>
    </div>
    <a href="#" class="hero__circle">
      <svg class="hero__circle-svg" viewBox="0 0 128 128">
        <defs>
          <path
            id="circlePath"
            d="
                M64,64
                m-50,0
                a50,50 0 1,1 100,0
                a50,50 0 1,1 -100,0
                "
          />
        </defs>

        <text class="hero__circle-svg-text">
          <textPath id="circleText" href="#circlePath">
            GET IN TOUCH • GET IN TOUCH • GET IN TOUCH •
          </textPath>
        </text>
      </svg>
      <div class="hero__circle-arrow">
        <svg
          width="59"
          height="59"
          viewBox="0 0 59 59"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="14.7353"
            y="45.8236"
            width="3.85427"
            height="41.4334"
            transform="rotate(-135 14.7353 45.8236)"
            fill="#161A34"
          />
          <rect
            x="17.5983"
            y="17.3444"
            width="3.85427"
            height="26.9799"
            transform="rotate(-90 17.5983 17.3444)"
            fill="#161A34"
          />
          <rect
            x="44.598"
            y="40.4899"
            width="3.85427"
            height="26.9799"
            transform="rotate(180 44.598 40.4899)"
            fill="#161A34"
          />
        </svg>
      </div>
    </a>
  </div>
</section>
