<section class="team">
  <div class="container">
    <div class="team__head">
      <h2 class="team__head-title heading-h2">
        Meet our team of creators, designers, and world-class problem solvers
      </h2>
      <p class="team__head-descr text-p-medium">
        To become the company that customers want, it takes a group of
        passionate people. Get to know the people who lead
      </p>
    </div>
    <div class="swiper team__slider">
      <div class="team__slider-btns">
        <svg
          width="27"
          height="17"
          viewBox="0 0 27 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide team__member">
          <img
            loading="lazy"
            class="team__member-img"
            src="./assets/image/member-img-1.jpg"
            alt="Team member"
          />
          <div class="team__member-wrapper">
            <div class="team__member-info">
              <h4 class="team__member-title text-p-large">Arlyne Stefano</h4>
              <p class="team__member-position text-p-medium">Founder & CEO</p>
            </div>
            <div class="team__member-socials">
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/twitter-icon.svg"
                  alt="Twitter"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/linkedin-icon.svg"
                  alt="LinkedIn"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/instagram-icon.svg"
                  alt="Twitter"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team__member">
          <img
            loading="lazy"
            class="team__member-img"
            src="./assets/image/member-img-2.jpg"
            alt="Team member"
          />
          <div class="team__member-wrapper">
            <div class="team__member-info">
              <h4 class="team__member-title text-p-large">Katy Cristy</h4>
              <p class="team__member-position text-p-medium">
                Chief Technology Officer
              </p>
            </div>
            <div class="team__member-socials">
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/twitter-icon.svg"
                  alt="Twitter"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/linkedin-icon.svg"
                  alt="LinkedIn"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/instagram-icon.svg"
                  alt="Twitter"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team__member">
          <img
            loading="lazy"
            class="team__member-img"
            src="./assets/image/member-img-3.jpg"
            alt="Team member"
          />
          <div class="team__member-wrapper">
            <div class="team__member-info">
              <h4 class="team__member-title text-p-large">Roger Dzawin</h4>
              <p class="team__member-position text-p-medium">
                Chief Technology Officer
              </p>
            </div>
            <div class="team__member-socials">
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/twitter-icon.svg"
                  alt="Twitter"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/linkedin-icon.svg"
                  alt="LinkedIn"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/instagram-icon.svg"
                  alt="Twitter"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team__member">
          <img
            loading="lazy"
            class="team__member-img"
            src="./assets/image/member-img-1.jpg"
            alt="Team member"
          />
          <div class="team__member-wrapper">
            <div class="team__member-info">
              <h4 class="team__member-title text-p-large">Arlyne Stefano</h4>
              <p class="team__member-position text-p-medium">Founder & CEO</p>
            </div>
            <div class="team__member-socials">
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/twitter-icon.svg"
                  alt="Twitter"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/linkedin-icon.svg"
                  alt="LinkedIn"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/instagram-icon.svg"
                  alt="Twitter"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team__member">
          <img
            loading="lazy"
            class="team__member-img"
            src="./assets/image/member-img-2.jpg"
            alt="Team member"
          />
          <div class="team__member-wrapper">
            <div class="team__member-info">
              <h4 class="team__member-title text-p-large">Katy Cristy</h4>
              <p class="team__member-position text-p-medium">
                Chief Technology Officer
              </p>
            </div>
            <div class="team__member-socials">
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/twitter-icon.svg"
                  alt="Twitter"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/linkedin-icon.svg"
                  alt="LinkedIn"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/instagram-icon.svg"
                  alt="Twitter"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team__member">
          <img
            loading="lazy"
            class="team__member-img"
            src="./assets/image/member-img-3.jpg"
            alt="Team member"
          />
          <div class="team__member-wrapper">
            <div class="team__member-info">
              <h4 class="team__member-title text-p-large">Roger Dzawin</h4>
              <p class="team__member-position text-p-medium">
                Chief Technology Officer
              </p>
            </div>
            <div class="team__member-socials">
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/twitter-icon.svg"
                  alt="Twitter"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/linkedin-icon.svg"
                  alt="LinkedIn"
                />
              </a>
              <a class="team__member-socials-link" href="#">
                <img
                  loading="lazy"
                  width="18"
                  height="18"
                  src="./assets/icons/socials/instagram-icon.svg"
                  alt="Twitter"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="team__join">
      <h2 class="team__join-title heading-h2">
        Join our team, The one with the master touch
      </h2>
      <p class="team__join-descr text-p-medium">
        We believe it takes great people to make a great product. That’s why we
        hire not only the perfect professional fits, but people who embody our
        company values.
      </p>
    </div>
  </div>
</section>
