<section class="articles">
  <div class="container">
    <div class="articles__head">
      <div class="articles__left">
        <h2 class="articles__title heading-h2">Articles</h2>
        <p class="articles__descr text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>
      <div class="articles__btns">
        <button class="articles__btn articles__btn--prev">
          <svg
            width="15"
            height="13"
            viewBox="0 0 15 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.9363 12.3365C6.58483 12.688 6.01498 12.688 5.66351 12.3365L0.263506 6.93649C-0.0879668 6.58502 -0.0879667 6.01517 0.263506 5.6637L5.66351 0.2637C6.01498 -0.0877719 6.58483 -0.0877718 6.9363 0.263701C7.28777 0.615172 7.28777 1.18502 6.9363 1.53649L3.07269 5.4001L13.4999 5.4001C13.997 5.4001 14.3999 5.80304 14.3999 6.3001C14.3999 6.79715 13.997 7.2001 13.4999 7.2001L3.07269 7.2001L6.9363 11.0637C7.28777 11.4152 7.28777 11.985 6.9363 12.3365Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button class="articles__btn articles__btn--next">
          <svg
            width="15"
            height="13"
            viewBox="0 0 15 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.9363 12.3365C6.58483 12.688 6.01498 12.688 5.66351 12.3365L0.263506 6.93649C-0.0879668 6.58502 -0.0879667 6.01517 0.263506 5.6637L5.66351 0.2637C6.01498 -0.0877719 6.58483 -0.0877718 6.9363 0.263701C7.28777 0.615172 7.28777 1.18502 6.9363 1.53649L3.07269 5.4001L13.4999 5.4001C13.997 5.4001 14.3999 5.80304 14.3999 6.3001C14.3999 6.79715 13.997 7.2001 13.4999 7.2001L3.07269 7.2001L6.9363 11.0637C7.28777 11.4152 7.28777 11.985 6.9363 12.3365Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper articles__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            src="./assets/image/people-img.jpg"
            alt="People"
          />
          <h3 class="articles__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h3>
          <p class="articles__slide-descr text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a class="articles__slide-link button-form" href="#"> Read More </a>
        </div>
        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            src="./assets/image/coworkers-img.jpg"
            width="405"
            alt="Coworkers"
          />
          <h3 class="articles__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="articles__slide-descr text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a class="articles__slide-link button-form" href="#"> Read More </a>
        </div>
        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            src="./assets/image/meeting-img-3.jpg"
            alt="Coworkers"
          />
          <h3 class="articles__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="articles__slide-descr text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a class="articles__slide-link button-form" href="#"> Read More </a>
        </div>
        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            src="./assets/image/people-img.jpg"
            alt="People"
          />
          <h3 class="articles__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h3>
          <p class="articles__slide-descr text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a class="articles__slide-link button-form" href="#"> Read More </a>
        </div>
        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            width="405"
            src="./assets/image/coworkers-img.jpg"
            alt="Coworkers"
          />
          <h3 class="articles__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="articles__slide-descr text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a class="articles__slide-link button-form" href="#"> Read More </a>
        </div>
        <div class="swiper-slide articles__slide">
          <img
            loading="lazy"
            class="articles__slide-img"
            src="./assets/image/meeting-img-3.jpg"
            alt="Coworkers"
          />
          <h3 class="articles__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="articles__slide-descr text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a class="articles__slide-link button-form" href="#"> Read More </a>
        </div>
      </div>
    </div>
  </div>
</section>
