<section class="blog">
  <div class="container">
    <div class="swiper blog__slider">
      <div class="blog__slider-btns">
        <svg
          width="27"
          height="17"
          viewBox="0 0 27 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            width="512"
            height="428"
            src="./assets/image/woman-at-laptop-img.jpg"
            alt="Woman at laptop"
          />
          <div class="blog__article-head text-p-small">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2026-01-30">Jan 30, 2026</time>
            </div>
          </div>
          <h3 class="blog__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="blog__article-descr text-p-medium">
            In this article, we'll cover how to create user flows
          </p>
        </a>
        <a href="#" class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            width="512"
            height="428"
            src="./assets/image/girls-at-laptop-img-2.jpg"
            alt="Womans at laptop"
          />
          <div class="blog__article-head text-p-small">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2026-01-30">Jan 30, 2026</time>
            </div>
          </div>
          <h3 class="blog__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="blog__article-descr text-p-medium">
            In this article, we'll cover how to create user flows
          </p>
        </a>
        <a href="#" class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            width="512"
            height="428"
            src="./assets/image/coworkers-img.jpg"
            alt="Woman typing on laptop and writing on a notebook"
          />
          <div class="blog__article-head text-p-small">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2026-01-30">Jan 30, 2026</time>
            </div>
          </div>
          <h3 class="blog__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="blog__article-descr text-p-medium">
            In this article, we'll cover how to create user flows
          </p>
        </a>
        <a href="#" class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            width="512"
            height="428"
            src="./assets/image/woman-at-laptop-img.jpg"
            alt="Woman at laptop"
          />
          <div class="blog__article-head text-p-small">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2026-01-30">Jan 30, 2026</time>
            </div>
          </div>
          <h3 class="blog__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="blog__article-descr text-p-medium">
            In this article, we'll cover how to create user flows
          </p>
        </a>
        <a href="#" class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            width="512"
            height="428"
            src="./assets/image/girls-at-laptop-img-2.jpg"
            alt="Womans at laptop"
          />
          <div class="blog__article-head text-p-small">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2026-01-30">Jan 30, 2026</time>
            </div>
          </div>
          <h3 class="blog__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="blog__article-descr text-p-medium">
            In this article, we'll cover how to create user flows
          </p>
        </a>
        <a href="#" class="swiper-slide blog__article">
          <img
            loading="lazy"
            class="blog__article-img"
            width="512"
            height="428"
            src="./assets/image/coworkers-img.jpg"
            alt="Woman typing on laptop and writing on a notebook"
          />
          <div class="blog__article-head text-p-small">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2026-01-30">Jan 30, 2026</time>
            </div>
          </div>
          <h3 class="blog__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="blog__article-descr text-p-medium">
            In this article, we'll cover how to create user flows
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
