<section class="features">
  <div class="container">
    <div class="features__articlest">
      <div class="features__articlest-column">
        <article class="features__item">
          <img
            loading="lazy"
            class="features__item-img"
            src="./assets/image/tablet-on-the-table-img.jpg"
            alt="Tablet on the table"
          />
          <a class="features__link" href="#">
            <h3 class="features__item-title heading-h3">
              How we perform long-running tasks using AWS services
            </h3>
            <p class="features__item-descr text-p-medium">
              Webflow is web design tool as well as a hosting platform and CMS
              all in one. While you are probably famiarticlear with all of
              these, they are usually entirely separate tools.
            </p>
          </a>
        </article>
        <article class="features__item">
          <img
            loading="lazy"
            class="features__item-img"
            src="./assets/image/team-discussion-img.jpg"
            alt="Team discussion"
          />
          <a class="features__link" href="#">
            <h3 class="features__item-title heading-h3">
              Layout Exploration — Simple exercise but big effect
            </h3>
            <p class="features__item-descr text-p-medium">
              Make alternatives or other options for the design we are making.
              For example, we are creating a website design. Then there is the
              testimonial section.
            </p>
          </a>
        </article>
      </div>
      <div class="features__articlest-column">
        <article class="features__item">
          <img
            loading="lazy"
            class="features__item-img"
            src="./assets/image/team-in-the-office-img.jpg"
            alt="Team in the office"
          />
          <a class="features__link" href="#">
            <h3
              class="features__item-title features__item-title--underline heading-h3"
            >
              How to ask when doing User Research
            </h3>
            <p class="features__item-descr text-p-medium">
              Bro, the story is that you want to make an apparticlecation for
              buying and selarticleng goods on the market. During user research,
              what do you think you will ask people?
            </p>
          </a>
        </article>
        <article class="features__item">
          <img
            loading="lazy"
            class="features__item-img"
            src="./assets/image/meeting-img-2.jpg"
            alt="Meeting"
          />
          <a class="features__link" href="#">
            <h3 class="features__item-title heading-h3">
              Webflow Break the Coding Barrier
            </h3>
            <p class="features__item-descr text-p-medium">
              Webflow is web design tool as well as a hosting platform and CMS
              all in one. While you are probably famiarticlear with all of
              these, they are usually entirely separate tools.
            </p>
          </a>
        </article>
      </div>
    </div>
  </div>
</section>
