<section class="navigation hero-decor">
  <div class="container">
    <div class="navigation__head">
      <h1 class="navigation__title heading-h1">Activity & Updates</h1>
      <p class="navigation__descr text-p-subtitle">
        Our biggest challenge is making sure we're always designing and building
        products that will help you run your business better.
      </p>
    </div>
    <nav class="navigation__nav" aria-label="Activity categories">
      <ul class="navigation__nav-list">
        <li class="navigation__nav-item text-p-default">
          <a class="navigation__nav-link" href="/coca/activity.html"> View all </a>
        </li>
        <li class="navigation__nav-item text-p-default">
          <a class="navigation__nav-link navigation__nav-link--active" href="#"> Design </a>
        </li>
        <li class="navigation__nav-item text-p-default">
          <a class="navigation__nav-link" href="/coca/activity-articles.html"> Articles </a>
        </li>
        <li class="navigation__nav-item text-p-default">
          <a class="navigation__nav-link " href="/coca/activity-product.html"> Product </a>
        </li>
        <li class="navigation__nav-item text-p-default">
          <a class="navigation__nav-link " href="#"> Software Development </a>
        </li>
        <li class="navigation__nav-item text-p-default">
          <a class="navigation__nav-link" href="#"> Customer Success </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
