@use '../../mixins/flex.scss' as *;
@use '../../mixins/media.scss' as *;

.brand-philosophy {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 165px;

  &__slider {
    position: relative;
    overflow: visible;

    &-btns {
      @include flex-all-center;
      position: absolute;
      top: 99px;
      left: 43%;
      z-index: var(--z-index-2);
      border-radius: 50%;
      width: 100px;
      height: 100px;
      background-color: #fff;
      transform: translateX(-50%);

      @include mini-desktop {
        display: none;
      }

      @include mobile {
        top: 39px;
        left: 100%;
        display: flex;
        width: 70px;
        height: 70px;
      }
    }

    &.swiper {
      overflow: visible;
    }
  }

  &__card {
    max-width: 502px;

    @include small-tablet {
      max-width: 452px;
    }

    &-img {
      margin-bottom: 24px;
    }

    &-title {
      margin-bottom: 8px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--neutral-color-100);
    }

    &-descr {
      margin-bottom: 32px;
      font-weight: 500;
      line-height: 178%;
      color: var(--neutral-color-150);
    }

    &-btn {
      padding: 16px 34px;
      color: var(--neutral-color-10);
      background-color: var(--neutral-color-100);
    }
  }
}
